<div class="main">
  <h1>Add Property</h1>

  <form>
    <mat-form-field>
      <input placeholder="Name" matInput type="text" />
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Address" matInput type="text" />
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Email" matInput type="text" />
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Phone" matInput type="text" />
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Property Estimate" matInput type="text" />
    </mat-form-field>

    <button mat-raised-button>Save</button>
  </form>
</div>
